
# Ansible Shade uses OpenStack clients running locally
[openstack]
127.0.0.1 ansible_connection=local ansible_python_interpreter=python

[cluster:children]
control
compute

{% for output in cluster_stack.stack.outputs %}
{% if output.output_key == "control_instances" %}

[control]
{% for node in output.output_value %}
{{node.name}} ansible_host={{ node.ip }}
{% endfor %}
{% endif %}
{% if output.output_key == "compute_instances" %}

[compute]
{% for node in output.output_value %}
{{node.name}} ansible_host={{ node.ip }}
{% endfor %}
{% endif %}
{% endfor %}

